* {

  list-style-type: none !important;
  text-decoration: none !important;
  font-family: 'Segoe UI';
}

:root {
  --fs-5: 5px;
  --fs-8: 8px;
  --fs-10: 10px;
  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-md: 24px;
  --fs-lg: 40px;
  --fs-xl: 25px;
}

.fs_8 {
  font-size: var(--fs-8);
}

.fs_5 {
  font-size: var(--fs-5);
}

.fs_10 {
  font-size: var(--fs-10);
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.ff_Segoe {
  font-family: 'Segoe UI';
}

body {
  background: #FFFFFF !important;
}

.bg_green {
  background-color: #1AD079;
}

.bg_darkblue {
  background-color: #07133B;
}

.text_darkblack {
  color: #AFB4C5;
}

.text_lightgreen {
  color: #BAF1D7;
}

.text_lightgrey {
  color: #B5B8C4;
}

.text_green {
  color: #1AD079 !important;
}

.bg_skyblue {
  background-color: #D4EAF2;
}

.text_dark {
  color: #4D4D4D !important;
}

.name_input {
  border: none !important;
  outline: none !important;
  padding: 13px !important;
  background-color: #141F45;
  color: #B8BCC7 !important;
  border-radius: 5px;
}

.msg_textarea {
  height: 108px;
  border: none !important;
  outline: none !important;
  background-color: #141F45;
  padding: 10px !important;
  color: #B8BCC7 !important;
  border-radius: 5px;
}

.sign_up_btn {
  padding: 10px 20px !important;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.sign_up_btn:hover {
  padding: 10px 20px !important;
  background: #1AD079;
  color: white !important;
}

.login_btn {
  padding: 10px 25px !important;
  border: 1px solid #1AD079;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.login_btn:hover {
  background: #1AD079;
  color: white !important;
}

.login_btn:hover path {
  fill: white;
}

.cards {
  padding: 33px 41px !important;
  border-radius: 5px;
}

.z_index_5 {
  z-index: 15 !important;
}

.bg_light_green {
  background-color: #E4F9EF;
}

.nav_position_greenbox {
  width: 271px;
  height: 206px;
  background: #E4F9EF;
  filter: blur(50px);
  z-index: -1 !important;
  position: absolute;
  top: 0;
  left: 0;
}

.nav_position_bluebox {
  position: absolute;
  width: 161.66px;
  height: 243px;
  background: #E6EBFF;
  filter: blur(75px);
  transform: rotate(-89.15deg);
  left: 230px;
  top: 0;
  z-index: -1 !important;
}

.open_nav {
  position: absolute;
  left: -100%;
  top: 90px;
  background: rgb(255, 255, 255);
  z-index: 10 !important;
  height: 90vh;
  transition: 0.3s linear;
  width: 100%;
  z-index: 20 !important;
}

.hide_nav {
  position: absolute;
  left: 0;
  top: 90px;
  background: rgb(255, 255, 255);
  z-index: 10 !important;
  height: 90vh;
  transition: 0.3s linear;
  width: 100%;
  z-index: 20 !important;
}

.backtotop_btn {
  width: 50px;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  z-index: 10 !important;
  animation: backtotop 2s linear infinite;
}

@keyframes backtotop {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.header_coulmn_height {
  min-height: 300px;
}

.crusor_pointer {
  cursor: pointer;
}

.financial_services_btn {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  border: 1px solid rgba(26, 208, 121, 1);
  border-radius: 5px;
  margin-top: 10px !important;
  width: 100% !important;
}

.financial_services_btn::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  border: 2px solid #B5B8C4;
  opacity: 0.7;
  border-radius: 50%;
}

.financial_services_btn:focus::before {
  background: #1AD079;
  border-color: #1AD079;
}

.real_estate_btn {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  border: 1px solid rgba(26, 208, 121, 1);
  width: 100% !important;
  border-radius: 5px;
  margin-top: 10px !important;
}

.real_estate_btn::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  border: 2px solid #B5B8C4;
  opacity: 0.7;
  border-radius: 50%;
}

.real_estate_btn:focus::before {
  background: #1AD079;
  border-color: #1AD079;
}

.submit_btn {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  margin-top: 6px !important;
  border-radius: 4px;
  border: 1px solid #1AD079;
  color: white !important;
  transition: 0.3s ease-in-out;
}

.submit_btn:hover {
  background-color: #00ff84;
}

.horizontel_line_footer {
  width: 100%;
  opacity: 0.1;
  border: 3px solid rgba(255, 255, 255, 0.7);
  margin-top: 50px !important;
  margin-bottom: 10px !important;
}

/*****NAVICONS*******/
.menu_icon {
  height: 3px;
  width: 30px;
  background-color: #1AD079;
  display: block;
  z-index: 10000 !important;
}

.footer_links::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 110%;
  background: #FFFFFF;
  opacity: 0.7;
  left: -5px;
  bottom: -5px;
  border: 1px solid #FFFFFF;
  transition: 0.3s ease-in-out;
}

.footer_links:hover::after {
  width: 0 !important;
}

.footer_bg_elips {
  position: absolute;
  background: #E6EBFF;
  filter: blur(25px);
  width: 329px;
  height: 329px;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.footer_bg_elips_2 {
  position: absolute;
  top: 47px;
  right: 10%;
  background: #3861EB;
  filter: blur(125px);
  width: 150px;
  height: 150px;
  z-index: 0;
  animation: footer_img linear infinite 6s;
}

@keyframes footer_img {
  0% {
    width: 10%;
  }

  50% {
    width: 25%;
  }

  100% {
    width: 10%;
  }
}

.header_card_1 {
  transform: rotate(3deg);
  border-radius: 8px;
  position: absolute;
  left: 60%;
  top: -52px;
  animation: card_1 linear infinite 4s;
}

@keyframes card_1 {
  50% {
    transform: translate(5px);
  }
}

.header_card_2 {
  border-radius: 8px;
  position: absolute;
  left: -7px !important;
  top: -100 !important;
  animation: card_2 linear infinite 3s;
}

@keyframes card_2 {
  50% {
    transform: rotate(18deg);
  }
}

.header_card_3 {
  position: absolute;
  left: -3%;
  top: 132%;
  animation: card_3 linear 38s infinite;
}

@keyframes card_3 {
  50% {
    transform: rotate(360deg);
  }
}

.header_card_4 {
  width: 228px;
  border-radius: 8px;
  animation: card_4 linear 4s infinite;
}

@keyframes card_4 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(40px);
  }

  100% {
    transform: translate(0);
  }
}

.black_line_1 {
  border: 3px solid #000000;
  width: 25px;
}

.green_line_1 {
  border: 3px solid #1AD079;
  width: 25px;
  margin: 0 5px;
}

.black_line_2 {
  border: 3px solid #000000;
  width: 80px;
}

.black_line_3 {
  width: 63px;
  border: 3px solid #000000;
}

.section_bg {
  background-color: #FAFAFA !important;
}

.green_line_2 {
  border: 3px solid #1AD079;
  width: 72px;
  margin: 0 5px;
}

.green_line_3 {
  border: 3px solid #1AD079;
  width: 58px;
}

.black_line_4 {
  width: 32px;
  border: 3px solid #000000;
}

.black_line_5 {
  border: 3px solid #000000;
  width: 40px;
}

.header_card_4 {
  position: absolute;
  top: 49%;
  left: 26%;
}

.header_card_5 {
  width: 100px;
  background: #FFFFFF;
  border-radius: 8px 8px 0px 0px;
  position: absolute;
  top: 99.5%;
  left: 44%;
  animation: card_5 linear infinite 5s;
}

@keyframes card_5 {
  50% {
    transform: translateY(-30px);
  }
}

.header_position_box {
  background: #E6EBFF;
  filter: blur(75px);
  position: absolute;
  width: 428px;
  height: 505px;
  left: 0;
  top: 0;
}

.header_position_box_2 {
  background: #E4F9EF;
  filter: blur(50px);
  width: 517px;
  height: 421px;
  position: absolute;
  bottom: -50px;
  right: 0;
  z-index: -1;
}

.header_card_6 {
  position: absolute;
  bottom: -40px;
  transform: rotate(10.28deg);
  animation: card_6 linear infinite 4s;
}

@keyframes card_6 {
  50% {
    transform: translate(-50px);
  }
}

.nav_links::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #1AD079;
  bottom: -3px;
  left: 0;
  left: 50%;
  transition: 0.4s ease-in-out;
}

.nav_links:hover::after {
  width: 100%;
  transform: translateX(-50%);
}

.footer_links ul li a {
  position: relative;
  transition: 0.4s ease-in-out;
}

.footer_links ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #ffffff;
  bottom: -3px;
  left: 0;
  left: 50%;
  transition: 0.4s ease-in-out;
}

.footer_links ul li a:hover:after {
  width: 100%;
  transform: translateX(-50%);
}

.learn_btn_arrow {
  transition: 0.3s ease-in-out;
}

.learn_btn:hover .learn_btn_arrow {
  transform: translateX(10px);
}

@media (min-width:576px) {
  .horizontel_line_footer {
    width: 100%;
    opacity: 0.1;
    border: 3px solid rgba(255, 255, 255, 0.7);
    margin-top: 100px !important;
    margin-bottom: 40px !important;
  }

  :root {
    --fs-5: 5px;
    --fs-8: 8px;
    --fs-10: 10px;
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 24px;
    --fs-lg: 40px;
    --fs-xl: 48px;
  }

  .header_card_2 {
    border-radius: 8px;
    position: absolute;
    left: 22px !important;
    top: 9% !important;
  }

  @keyframes card_2 {

    50% {
      transform: rotate(18deg);
    }
  }

  .header_card_3 {
    position: absolute;
    left: 4%;
    top: 86%;
  }

  .header_card_4 {
    position: absolute;
    top: 59%;
    left: 42%;
  }

  .header_card_5 {
    position: absolute;
    top: 99.5%;
    left: 73%;
  }

  .header_card_1 {
    transform: rotate(3deg);
    border-radius: 8px;
    position: absolute;
    left: 60%;
    top: -23px;
  }
}


@media (min-width:992px) {
  .header_card_3 {
    position: absolute;
    left: 32%;
    top: -16%;
  }

  .header_card_1 {
    transform: rotate(15deg);
    border-radius: 8px;
    position: absolute;
    left: 60%;
    top: 10px;
  }

  .header_card_2 {
    border-radius: 8px;
    position: absolute;
    left: 8px !important;
    top: 42% !important;
  }

  @keyframes card_2 {
    50% {
      transform: rotate(18deg);
    }
  }
}

@media (min-width:1200px) {
  .custom_container {
    max-width: 1140px !important;
    padding: 0 12px !important;
    margin: 0 auto !important;
  }

  :root {
    --fs-5: 5px;
    --fs-8: 8px;
    --fs-10: 10px;
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 24px;
    --fs-lg: 40px;
    --fs-xl: 55px;
  }
}